<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="net.techest.schoolpaper">
    <application>
        <uses-library android:name="com.google.android.maps" />
         <activity android:name=".MainActivity" android:label="校纸" android:icon="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
         <activity android:name=".PaperActivity" android:label="校纸">
            <intent-filter>
                <action android:name="android.intent.action.Paper"/>
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
